@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

:root {
  --nav-font-family: "Roboto Condensed", sans-serif;
  --body-font-family: "Roboto Slab", serif;

  --outline-style: cyan dashed 4px;

  --body-bg: #fff;
  --body-txt: #222;

  --nav-bg: #fff;
  --nav-hover: #14303e;
  --nav-txt: #222;

  --hero-bg: #14303e;
  --hero-txt: #fff;

  --result-txt-primary: #006699;
  --result-txt: #222;

  --search-btn-bg: orange;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

a:active,
a:focus,
button:active,
button:focus,
select:active,
select:focus,
input:active,
input:focus {
  outline: var(--outline-style);
}

body {
  background-color: var(--body-bg);
  color: var(--body-txt);
  font-family: var(--body-font-family);
}

.top-nav {
  font-family: var(--nav-font-family);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  background-color: var(--nav-bg);
  color: var(--nav-txt);
  padding: 10px 15px;
  .top-nav-link {
    color: var(--nav-txt);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    #top-nav-link-logo {
      width: 250px;
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .top-nav-link {
      font-weight: bold;
    }
    .top-nav-link:hover {
      text-decoration: underline;
    }
  }
}

.hero {
  background-color: var(--hero-bg);
  color: var(--hero-txt);
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 8px;
  p {
    font-weight: 900;
    font-size: 1.3rem;
  }
}

#search-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem 0;
  background-color: royalblue;
  .title {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--hero-txt);
  }
  #search-form {
    display: flex;
    flex-direction: row;
    gap: 4px;
    #search-field {
      padding: 0.5rem;
      color: #000;
      border: none;
      font-weight: 700;
      background-color: #ddd;
      border-radius: 0;
      // width: 150px;
      option {
        word-wrap: break-word;
        padding: 10px;
      }
    }
    #input-search {
      width: 500px;
      padding: 0.6em;
      box-sizing: border-box;
      border: none;
    }
    #btn-search {
      border: none;
      padding: 10px 20px;
      background-color: var(--search-btn-bg);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.filter-wrapper {
  padding: 16px;
  background-color: #f8f8f8;
  fieldset {
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
  }
}

#results-wrapper {
  max-width: 800px;
  margin: 16px auto;
  .result-wrapper-title {
    font-size: 2rem;
  }
  #results {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .result-item {
      color: var(--result-txt-primary);
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      border-bottom: 1px dotted #333;
      .result-section-title {
        display: inline-block;
        padding: 0 5px 0 0;
        font-weight: bold;
      }
      .result-title {
        font-size: 1.6rem;
        font-weight: bold;
      }
      .authors {
        display: flex;
        column-gap: 8px;
        .author {
          color: inherit;
        }
      }
      details {
        border-radius: 4px;
        padding: 0.5em 0.5em 0;
      }
      summary {
        font-weight: bold;
        margin: -0.5em -0.5em 0;
        padding: 0.5em;
      }
      details[open] {
        padding: 0.5em;
      }
      details[open] p {
        color: var(--result-txt);
      }
      details[open] summary {
        margin-bottom: 0.5em;
      }
    }
  }
}

.footer {
  text-align: center;
  margin-top: 4rem;
  background-color: var(--hero-bg);
  color: var(--hero-txt);
  padding: 4rem 16px;
  font-weight: bolder;
}

@media screen and (max-width: 750px) {
  .top-nav {
    flex-direction: column !important;
    row-gap: 16px;
    .right {
      flex-direction: column !important;
    }
  }
  #search-form {
    input {
      width: 100% !important;
    }
  }
  #results-wrapper {
    padding: 16px;
  }
}
